<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/39871aa8d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Actors Blog</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
        <div class="container">

            <a class="navbar-brand mr-4" href="/"><i class="fas fa-file-video 2x"></i> Actors Site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/actors">
                            <i class="far fa-hand-point-right"></i>
                            Home
                        </a>
                    </li>            
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-hand-point-right"></i>
                            New Post
                        </a>
                    </li>            
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-hand-point-right"></i>
                            About
                        </a>
                    </li>            
                </ul>         
            </div>
        </div>
      </nav>
