<%- include('partials/header.ejs') %>

<div class="container">
    <h1 class="display-4">About</h1>

    <div class="jumbotron">
        <p class="lead">Name: Actors Blog App</p>
        <p class="lead">Version: 1.0.0</p>
        <p class="lead">Author: Dariusz Okonski</p>
        <p class="lead">Year: 2020</p>
        <hr class="my-4">
        <p>&copy; All Rights Reserved</p>
        <a class="btn btn-primary btn-sm" href="/actors" role="button">Home</a>
      </div>
</div>

<%- include('partials/footer.ejs') %>