<%- include('partials/header.ejs') %>

<article class="landing">
    <div class="container container__landing">
        <div class="jumbotron">
            <h1 class="display-4">Actors Blog</h1>
            <p class="lead">This is a simple Node.js application</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-sm" href="/actors" role="button">See More</a>
          </div>
    </div>
</article>

<%- include('partials/footer.ejs') %>